<div class="container">
    <form [formGroup]="formRegistrar">
      <div class="mat-dialog-content">
        <div class="row">
          <mat-toolbar color="primary">
            <span>Actualizar Coordenada</span>
          </mat-toolbar>
        </div>
        <div class="row" style="margin-top: 3%">
          <mat-form-field class="col-md-4">
            <mat-label>Prestatarios</mat-label>
            <mat-select [(ngModel)]="coordenada.prestatario!.idUsuario" formControlName="validaPrestatario">
              <mat-option value="-1"> [Seleccione] </mat-option>
              <mat-option *ngFor="let x of lstPrestatarios" [value]="x.idUsuario">
                {{x.nombreCompleto}}
              </mat-option>
            </mat-select>
            <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validaPrestatario.touched">
              <span *ngIf="formRegistrar.controls.validaPrestatario.hasError('min')">
                El prestatario es requerido
              </span>
            </mat-hint>
          </mat-form-field>
  
          <mat-form-field class="col-md-4">
            <mat-label>Latitud</mat-label>
            <input matInput [(ngModel)]="coordenada.latitud" formControlName="validaLatitud">
            <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validaLatitud.touched">
              <span *ngIf="formRegistrar.controls.validaLatitud.hasError('pattern')">
                La latitud debe ser real y no debe pasar 3 decimales
              </span>
              <span *ngIf="formRegistrar.controls.validaLatitud.hasError('required')">
                La latitud es requerida
              </span>
              <span *ngIf="formRegistrar.controls.validaLatitud.hasError('min')">
                La latitud es requerido
              </span>
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="col-md-4">
            <mat-label>Longitud</mat-label>
            <input matInput [(ngModel)]="coordenada.longitud" formControlName="validaLongitud">
            <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validaLongitud.touched">
              <span *ngIf="formRegistrar.controls.validaLongitud.hasError('pattern')">
                La longitud debe ser real y no debe pasar 3 decimales
              </span>
              <span *ngIf="formRegistrar.controls.validaLongitud.hasError('required')">
                La longitud es requerida
              </span>
              <span *ngIf="formRegistrar.controls.validaLongitud.hasError('min')">
                La longitud es requerida
              </span>
            </mat-hint>
          </mat-form-field>

        </div>

    
  
        <div class="row" style="margin-top: 3%">
          <mat-form-field class="col-md-4">
            <mat-label>Departamento</mat-label>
            <mat-select [(ngModel)]="coordenada.ubigeo!.departamento" (selectionChange)="listaProvincia()" formControlName="validaDepartamento">
              <mat-option value="-1"> [Seleccione] </mat-option>
              <mat-option *ngFor="let x of departamentos" [value]="x">
                {{x}}
              </mat-option>
            </mat-select>
            <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validaDepartamento.touched">
              <span *ngIf="formRegistrar.controls.validaDepartamento.hasError('min')">
                El departamento es requerido
              </span>
            </mat-hint>
          </mat-form-field>
  
          <mat-form-field class="col-md-4">
            <mat-label>Provincia</mat-label>
            <mat-select [(ngModel)]="coordenada.ubigeo!.provincia" (selectionChange)="listaDistrito()" formControlName="validaProvincia">
              <mat-option value="-1"> [Seleccione] </mat-option>
              <mat-option *ngFor="let x of provincias" [value]="x">
                {{x}}
              </mat-option>
            </mat-select>
            <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validaProvincia.touched">
              <span *ngIf="formRegistrar.controls.validaProvincia.hasError('min')">
                La provincia es requerido
              </span>
            </mat-hint>
          </mat-form-field>
  
          <mat-form-field class="col-md-4">
            <mat-label>Distrito</mat-label>
            <mat-select [(ngModel)]="coordenada.ubigeo!.idUbigeo" formControlName="validaDistrito">
              <mat-option value="-1"> [Seleccione] </mat-option>
              <mat-option *ngFor="let x of distritos" [value]="x.idUbigeo">
                {{x.distrito}}
              </mat-option>
            </mat-select>
            <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validaDistrito.touched">
              <span *ngIf="formRegistrar.controls.validaDistrito.hasError('min')">
                El distrito es requerido
              </span>
            </mat-hint>
          </mat-form-field>
        </div>
  
        <div class="row" style="margin-top: 3%; margin-left: auto; margin-right: auto; max-width: fit-content;">
          <div mat-dialog-actions>
                <button mat-raised-button type="submit" color="primary" 
                [disabled]="formRegistrar.invalid" [mat-dialog-close]="1" (click)="actualizar()">Actualizar</button> 
            <button mat-button type="submit"(click)="salir()" [mat-dialog-close]="2">Salir</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  
