<app-menu></app-menu>
<div class="container">

<form [formGroup]="formRegistrar">
                <div class="row">
                        <mat-toolbar color="primary" >
                        <span>Registra Data Catalogo</span>
                        </mat-toolbar>
                </div>
                <div  class="row"  style="margin-top: 3%">
                            <mat-form-field class="col-md-4">
                                <mat-label>Descripcion</mat-label>
                                <input  matInput [(ngModel)] ="dataCatalogo.descripcion" formControlName="validaDescripcion">
                                <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validaDescripcion.touched">
                                    <span *ngIf="formRegistrar.controls.validaDescripcion.hasError('required')">
                                        La descripción es requerida
                                    </span>
                                    <span *ngIf="formRegistrar.controls.validaDescripcion.hasError('pattern')">
                                        La descripción es de 3 a 30 caracteres
                                    </span>
                                    <span *ngIf="formRegistrar.controls.validaDescripcion.hasError('existeDescripcion')">
                                        La descripción ya existe
                                    </span>
                                </mat-hint>
                            </mat-form-field>
                            <mat-form-field class="col-md-4">
                                <mat-label>Tipo</mat-label>
                                <mat-select  [(ngModel)]="dataCatalogo.catalogo!"  formControlName="validaTipoCatalogo">
                                <mat-option value="-1"> [Seleccione] </mat-option>
                                <mat-option *ngFor="let x of lstCatalogo" [value]="x">
                                        {{x.descripcion}}
                                </mat-option>
                            </mat-select>
                            <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validaTipoCatalogo.touched">
                            <span *ngIf="formRegistrar.controls.validaTipoCatalogo.hasError('min')">
                                El tipo es requerido
                            </span>
                        </mat-hint>
                            </mat-form-field>
                </div>
                
                
                <div  class="row"  style="margin-top: 3%; margin-left: auto; margin-right: auto; max-width: fit-content;" >
                    <button mat-raised-button type="submit" color="primary" [disabled]="formRegistrar.invalid" (click)="registra()">Registra</button>
                </div>
</form>
  </div>