<app-menu></app-menu>
<div class="container" style="max-width: 50%;">
    <form [formGroup]="formRegistrar" style="margin: 0 auto;">
      <div class="row">
        <mat-toolbar color="primary">
          <span>Registro Datos Catalogo</span>
        </mat-toolbar>
      </div>
      <div class="row" style="margin-top: 3%">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            [(ngModel)]="dataCatalogo.descripcion"
            formControlName="validaDescripcion"
          />
          <mat-hint
            style="color: red"
            *ngIf="formRegistrar.controls.validaDescripcion.touched"
          >
            <span
              *ngIf="formRegistrar.controls.validaDescripcion.hasError('required')"
            >
              El Nombre es requerido
            </span>
            <span
              *ngIf="formRegistrar.controls.validaDescripcion.hasError('pattern')"
            >
              El Nombre es de 3 a 45 caracteres
            </span>
            <span
              *ngIf="
                formRegistrar.controls.validaDescripcion.hasError(
                  'existeDescripcion'
                )
              "
            >
              El Nombre ya existe
            </span>
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="row" style="margin-top: 3%">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Tipo</mat-label>
          <mat-select
            formControlName="validaDepartamento"
          >
            <mat-option value="-1">[Seleccione]</mat-option>
           
          </mat-select>
          <mat-hint
            style="color: red"
            *ngIf="formRegistrar.controls.validaDescripcion.touched"
          >
            <span
              *ngIf="formRegistrar.controls.validaDescripcion.hasError('min')"
            >
              El Tipo es requerido
            </span>
          </mat-hint>
        </mat-form-field>
      </div>
      
      <div style="text-align: center; margin-top: 20px;">
        <button
          mat-raised-button
          type="submit"
          color="primary"
          [disabled]="formRegistrar.invalid"
          (click)="registra()"
        >
          Registrar
        </button>
      </div>
    </form>
  </div>
