<div class="container">
    <form [formGroup]="formRegistrar">
      <div class="row">
        <mat-toolbar color="primary">
          <span>Actualiza Datos Catalogo</span>
        </mat-toolbar>
      </div>
      <div class="row" style="margin-top: 3%">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Descripcion</mat-label>
                                <input  matInput [(ngModel)] ="dataCatalogo.descripcion" formControlName="validaDescripcion">
                                <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validaDescripcion.touched">
                                    <span *ngIf="formRegistrar.controls.validaDescripcion.hasError('required')">
                                        La descripción es requerida
                                    </span>
                                    <span *ngIf="formRegistrar.controls.validaDescripcion.hasError('pattern')">
                                        La descripción es de 3 a 30 caracteres
                                    </span>
                                    <span *ngIf="formRegistrar.controls.validaDescripcion.hasError('existeDescripcion')">
                                        La descripción ya existe
                                    </span>
                                </mat-hint>
                            </mat-form-field>
                            <mat-form-field class="col-md-4">
                                <mat-label>Tipo</mat-label>
                                <mat-select  [(ngModel)]="dataCatalogo.catalogo!"  formControlName="validaTipoCatalogo">
                                <mat-option value="-1"> [Seleccione] </mat-option>
                                <mat-option *ngFor="let x of lstCatalogo" [value]="x">
                                        {{x.descripcion}}
                                </mat-option>
                            </mat-select>
                            <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validaTipoCatalogo.touched">
                            <span *ngIf="formRegistrar.controls.validaTipoCatalogo.hasError('min')">
                                El tipo es requerido
                            </span>
                        </mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-2" style="display: flex; align-items: center; justify-content: center">
        <div class="custom-control custom-switch">
            <input  type="checkbox" class="custom-control-input" id="idEstado" #estado />
            <label class="custom-control-label" for="idEstado">Estado</label>
        </div>
    </div>

      <div class="row" style="margin-top: 3%; margin-left: auto; margin-right: auto; max-width: fit-content;">
        <div mat-dialog-actions>
        <button mat-raised-button 
                       type="submit" 
                       color="primary" 
                       [disabled]="formRegistrar.invalid"
                       [mat-dialog-close]="1"
                       (click)="actualizar()">Actualiza
        </button>
       <button mat-button 
                       type="submit" 
                       (click)="salir()"
                       [mat-dialog-close]="2"    
                       >Salir
       </button>
      </div>
    </div>
  </form>
</div>
