
<app-menu></app-menu>
<div class="container">
  <div class="card">
    <div class="class-header">
      <h3>Agregar Cuentas - Robles</h3>
    </div>
    <div class="card-body">
      <form action="">
          <label for="">Numero:</label>
          <input type="text" class="form-control">
      </form>
      <form action="">
        <label for="">Tipo de entidad:</label>
        <select class="" id="">
          <option value="">hola</option>
          <option value="">hola</option>
        </select>
    </form>
    <form action="">
      <label for="">Entidad Financiera:</label>
      <select class="" id="">
        <option value="">hola</option>
        <option value="">hola</option>
      </select>
  </form>
  <form action="">
    <label for="">Tipo de moneda:</label>
    <select class="" id="">
      <option value="">hola</option>
      <option value="">hola</option>
    </select>
</form>
<button class="btn btn-danger">Guardar</button>
    </div>
  </div>
</div>
