.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* Espacio entre los elementos */
    margin-top: 3%;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.custom-control.custom-switch {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Ajustes específicos para las columnas de la tabla */
.mat-column-idEjemplo {
    flex: 0 0 10%;
}

.mat-column-descripcion {
    flex: 0 0 20%;
}

.mat-column-dias {
    flex: 0 0 10%;
}

.mat-column-longitud {
    flex: 0 0 10%;
}

.mat-column-pais {
    flex: 0 0 20%;
}

.mat-column-ubigeo {
    flex: 0 0 25%;
}

.mat-column-estado {
    flex: 0 0 10%;
}