<app-menu></app-menu>
<div class="container">
    <form  id="idFormModalidad" [formGroup]="formsRegistra" > 
                <div class="row">
                        <mat-toolbar color="primary" >    
                        <span>Registra Revista</span>    
                        </mat-toolbar>  
                </div>
                <div  class="row"  style="margin-top: 3%">
                            
                            <mat-form-field class="col-md-4">
                                <mat-label>Nombre</mat-label>
                                <input  matInput [(ngModel)] ="objRevista.nombre" formControlName="validaNombre" >
                                <mat-hint style="color: red"  *ngIf="formsRegistra.controls.validaNombre.touched">
                                    <span *ngIf="formsRegistra.controls.validaNombre.hasError('required')">
                                        El nombre es requerido                        
                                    </span>
                                    <span *ngIf="formsRegistra.controls.validaNombre.hasError('pattern')">
                                        El nombre es de 3 a 30 caracteres                        
                                    </span>
                              </mat-hint>
                            </mat-form-field>

                            <mat-form-field class="col-md-4">
                                <mat-label>Frecuencia</mat-label>
                                <input  matInput [(ngModel)] ="objRevista.frecuencia"formControlName="validaFrecuencia">
                                <mat-hint style="color: red"  *ngIf="formsRegistra.controls.validaFrecuencia.touched">
                                    <span *ngIf="formsRegistra.controls.validaFrecuencia.hasError('required')">
                                    La frecuencia es requerido                        
                                    </span>
                                    <span *ngIf="formsRegistra.controls.validaFrecuencia.hasError('pattern')">
                                    a frecuencia es de 3 a 30 caracteres                        
                                    </span>
                              </mat-hint>
                            </mat-form-field>
                            <mat-form-field class="col-md-4">
                                <mat-label>Fecha de Creación</mat-label>
                                <input  matInput [(ngModel)] ="objRevista.fechaCreacion" [matDatepicker]="picker" formControlName="validafecha">
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-hint style="color: red"  *ngIf="formsRegistra.controls.validafecha.touched">
                                    <span *ngIf="formsRegistra.controls.validafecha.hasError('required')">
                                    La fecha nacimiento es requerido                        
                                    </span>
                              </mat-hint>
                            </mat-form-field>
                </div>
                <div class="row"  style="margin-top: 3%">
                            <mat-form-field class="col-md-4">
                                <mat-label>Teléfono</mat-label>
                                <input  matInput [(ngModel)] ="objRevista.telefono"formControlName="validatelefono">
                                <mat-hint style="color: red"  *ngIf="formsRegistra.controls.validaNombre.touched">
                                    <span *ngIf="formsRegistra.controls.validatelefono.hasError('required')">
                                        El teléfono es requerido                        
                                    </span>
                                    <span *ngIf="formsRegistra.controls.validatelefono.hasError('pattern')">
                                        El teléfono es de 9 ddígitos                   
                                    </span>
                              </mat-hint>
                            </mat-form-field>

                            <mat-form-field class="col-md-4">
                                <mat-label>País</mat-label>
                                <mat-select [(ngModel)] ="objRevista.pais!.idPais"formControlName="validaPais">
                                    <mat-option value="-1"> [Seleccione] </mat-option>
                                    <mat-option *ngFor="let x of lstPais" [value]="x.idPais">
                                                {{x.nombre}}
                                    </mat-option> 
                                 </mat-select> 
                                 <mat-hint style="color: red"  *ngIf="formsRegistra.controls.validaPais.touched">
                                    <span *ngIf="formsRegistra.controls.validaPais.hasError('min')">
                                        El País es requerido                        
                                    </span>
                                </mat-hint>
                            </mat-form-field> 
                            <mat-form-field class="col-md-4">
                                <mat-label>Tipo Revista</mat-label>
                                <mat-select  [(ngModel)] ="objRevista.tipoRevista!.idDataCatalogo"formControlName="validaTipoRevista">
                                    <mat-option value="-1"> [Seleccione] </mat-option>
                                    <mat-option *ngFor="let y of lstTipo" [value]="y.idDataCatalogo">
                                            {{y.descripcion}}
                                    </mat-option> 
                                </mat-select> 
                                <mat-hint style="color: red"  *ngIf="formsRegistra.controls.validaTipoRevista.touched">
                                    <span *ngIf="formsRegistra.controls.validaTipoRevista.hasError('min')">
                                        El País es requerido                        
                                    </span>
                                </mat-hint>
                            </mat-form-field>
                </div>
                <div  class="row" >
                    <button mat-raised-button type="submit" [disabled]="formsRegistra.invalid" (click)="registra()" color="primary" >Registra</button>
                </div>
   </form>
  </div>
  

